# 教学视频素材
*.mp4
*.avi
*.mov
*.mkv

# HDF5、离线数据集
*.hdf5
*.h5
*.npz
*.npy

# 三维模型、仿真大文件
*.stl
*.obj
*.usd
*.fbx
*.step

# AI训练权重、缓存
*.pth
*.ckpt
checkpoints/
runs/

# Python缓存、日志
logs/
__pycache__/
*.pyc
*.log

# 编译、打包临时文件
build/
dist/
*.zip
*.rar
*.7z

# 脚本输出临时素材文件夹
temp/
output/
